html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
}

body {
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 50% 20%, #007c7c, #000);
    overflow: hidden;
}

div {
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 0 70px 70px #000;
    background: #000;
}